body{
    background-color: #40454a;
}
.sidebar {
    height: 100vh;
    background-color: #40454a;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    padding-top: 20px;
}
.space-5 {
    width: 100%;
    margin-top: 300px;
}
.pagination-2 {
    display: inline-block;
  }
  
  .pagination-2 a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination-2 a.active {
    background-color: rgb(52, 52, 53);
    color: white;
  }
  
  .pagination-2 a:hover:not(.active) {background-color: #ddd;}
